@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Quicksand:wght@300&family=Spectral+SC:ital,wght@1,600&family=VT323&family=Wire+One&display=swap');

$breakpoints: (
  "small": 480px,
  "medium": 768px,
  "large": 1024px,
  "xlarge": 1200px,
);

@mixin breakpoints($size) {
    @if $size == 'small' {
      @media (max-width: 600px) { @content; } // Mobile
    }
    @else if $size == 'medium' {
      @media (min-width: 601px) and (max-width: 1024px) { @content; } // Tablets
    }
    @else if $size == 'large' {
      @media (min-width: 1025px) and (max-width: 1440px) { @content; } // Desktops pequenos
    }
    @else if $size == 'xlarge' {
      @media (min-width: 1441px) { @content; } // Desktops grandes e telas maiores
    }
}

$color-primary: #3A3A40;
$color-secondary: #202326;
$color-tertiary: #525659;
$color-quaternary: #A1A3A6;
$color-quinary: #77848C;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: $color-secondary;
  max-width: 100vw;
  height: fit-content;
  overflow: hidden;
  background-color: $color-primary;
  background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");


}

.espaco{
  min-height: 100vh;
  background-color: $color-tertiary;

  background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
}